In [1]:
# variable:- name given to memory location
# identifier:- name given to variable or function

In [2]:
print("Hello World")
# where print is inbuilt function

Hello World

In [3]:
print("Ganesh is learning AI ML to become data scientist")

Ganesh is learning AI ML to become data scientist

In [4]:
print("my name is ganesh.","my age is 30")

my name is ganesh. my age is 30

In [5]:
print("my name is ganesh","\nmy degree is BE COMP")

my name is ganesh
my degree is BE COMP

In [6]:
# Variable is a name given to the memory location
# variable means whose values may changes
name = "ganesh"
value = 35
age = 30

In [7]:
name

'ganesh'

In [8]:
value

35

In [9]:
print(type(name))

<class 'str'>

In [10]:
print(type(value))

<class 'int'>

In [11]:
print('my name is: ',name)
print('my age is: ',age)

my name is:  ganesh
my age is:  30

In [12]:
# Identifier: can be anything name. but will not start with digit. it wont contain special characters. its length can be 
# anything
# name of variable always simple short and meaningful. this is indentity of good programmer.

In [13]:
# datatypes: type of data enters into variable or stored in the variable
# 1 string
# 2 int
# 3 boolean
# 4 float
# 5 boolean
# 6 None

In [14]:
# 1 intergers: 
#     it contains positive value, negative value and zero.
#     eg -25,25,0b

In [15]:
# 2 string:--- 
#     'ganesh','a','sdkufkd','this is type string'

In [16]:
# 3 float:-- 25.88

In [17]:
# 4 boolean:--- True False

In [18]:
a=25
b="None"
c=None

In [19]:
print(a)
print(b)
print(c)

25
None
None

In [20]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'NoneType'>

In [24]:
# Keywords are the reserved words present in python. they will not use as identifier.
import keyword
print(keyword.kwlist)
print('keywords present in the python: ',len(keyword.kwlist))

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
keywords present in the python:  36

In [25]:
# print sum of two numbers
print(2+2)

4

In [27]:
a = int(input("Enter first num: "))
b = int(input("Enter secind num: "))
res = a+b
print('addition is: ',res)

Enter first num: 4
Enter secind num: 4
addition is:  8

In [29]:
# Comments:-- comment is a text or code that IDE dont read.

In [30]:
# this is single line comment:-
# """ this is multiple line comment"""

In [31]:
# Operator:-- its a symbol that operatos in symbols
# 1 arithmatic operator:- + - * \ % ** are the some arithmatic operators
# 2 relational or comparison operators:-  == != < > <= >=
# 3 assignment operators:-- =

In [36]:
# 1 Arithmatic Operators:- 
a=5
b=2
print('addition: ',a+b)
print('sub :',a-b)
print('multiplication is: ',a*b)
print('power is: ',a**b)  #this is power operator
print(a/b)
print(a%b)   #this is modulo operator. it gives remainder

addition:  7
sub : 3
multiplication is:  10
power is:  25
2.5
1

In [39]:
# 2  relational or comparison operators:
a = 50
b = 60
print(a==b)
print(a!=b)
print(a<b)
print(a>b)

False
True
True
False

In [43]:
# 3. Assignment operators:-    =,+=,-=,*=,/=
a=50
b=60

a+=10
print(a)
print(a)

60
60

In [51]:
# 4. logical Operators:- 
# AND OR NOT

val1 = True
val2 = False
print('AND operator: ', val1 and val2)

AND operator:  False

In [52]:
val1 = True
val2 = False
print('OR operator: ', val1 or val2)

OR operator:  True

In [53]:
# Type Conversion:-- 
#     int to str
#     str to int
#     int to float 
#     such scenario is called as type conversion

# conversion done by python interpriter. 
# casting is done by manuaaly. 

# float is superior as it gives more value

In [54]:
a=2
b=3.5
sum = a+b
print(sum)  #here type conversion is takes place. interpriter did conversion by its own.

5.5

In [56]:
a='2'
c = int(a)
b=2

print(b+c)  #here type casting is done. a is converted to int manually.


# float(a)  is a type casting and soo on

4

In [57]:
# Input:
#     this is used when program is going to run

a=input("Enter value: ")
print(a)

Enter value: jjas
jjas

In [58]:
b=int(input("Enter value: "))
print(b)
print(type(b))

Enter value: 23
23
<class 'int'>

In [62]:
name = input('enter name: ')
age = int(input('enter age: '))
marks = float(input('enter marks: '))


print(type(name),name)
print(type(age),age)
print(type(marks),marks)

enter name: ganesh
enter age: 33
enter marks: 33.3
<class 'str'> ganesh
<class 'int'> 33
<class 'float'> 33.3

In [63]:
#write a progrm to add 2 numbers and print them
a = int(input("Enter num 1: "))
b = int(input("Enter num 2: "))
addition = a+b
print(addition)

Enter num 1: 3
Enter num 2: 3
6

In [65]:
# take input side of square and print its area
a = int(input('enter side of suare: '))
area = a**2
print(area)

enter side of suare: 10
100

In [67]:
# 
num1 = float(input('enter num1: '))
num2 = float(input('enter num2: '))
avg = (num1+num2)/2
print(avg)

enter num1: 34
enter num2: 45
39.5

In [68]:
# take 2 inputs and print true is a equal or greater than b. else false
a= int(input('enter num1: '))
b= int(input('enter num2: '))
if a >b:
    print("True")
else:
    print("False")

enter num1: 4
enter num2: 7
False