In [1]:
# Strings:- is a sequence of characters
name = "ganesh gunjal" 
# its a string

In [2]:
str1 = "this is string1 "
str2 = "this is string2"

In [3]:
str1+str2  #this is concatenation

'this is string1 this is string2'

In [4]:
print(len(str1))
print(len(str2))

16
15

In [5]:
str3 = "this is string3. \nfor understanding sequence characters"
print(str3)
print('len is: ',len(str3))

this is string3.
for understanding sequence characters
len is:  55

In [6]:
# Indexing:-- calculation of index from zero.. index always starts from ZERO, MIND it.

name = "ganesh"
print(name[1])
print(name[3])

a
e

In [7]:
# item assignmetn is not allowed in strings
name[0] = 'm'
print(name)

TypeError: 'str' object does not support item assignment

In [8]:
# Slicing:-- taking part from the string
name = 'ganesh gunjal'
print(name[1:8])   #here 1 is incusive and 6 is exclusive. empty space is also calculated

anesh g

In [9]:
str1 = 'my name is ganesh gunjal'
print(str1)
print('len of the string is: ',len(str1))

my name is ganesh gunjal
len of the string is:  24

In [11]:
# Indexing provides numbering to characters
str2 = 'ganesh'
print(str2)
print(len(str2))
print(str2[0])
print(str2[1])

ganesh
6
g
a

### SLICING

In [12]:
# SLICING:--- taking some piece of string
str3 = 'my name is ganesh'
print(str3[1:6])   #means 1 to 6 character

y nam

In [13]:
print(str3[1:])    #means 1 to last characters

y name is ganesh

In [14]:
# Negative Index in SLICING
str4 = 'ganesh'
print(str4[-1])
print(str4[-2])

h
s

In [15]:
print(str4[-3:-1])   #here -3 is included and -1 is excluded

es

### STRING FUNCTIONS

In [16]:
string = 'I am data scientist'

In [17]:
string.endswith('st')   #check with ending charcters, if found returns True else false

True

In [18]:
string.capitalize()   # it will make first character in capital letter

'I am data scientist'

In [20]:
# string.replace(old,new)   # syntax
string.replace('data scientist','pro data scientist')

'I am pro data scientist'

In [22]:
string.find('d')   #it showed first index of 5 at first occurances.

5

In [23]:
string.count('a')

3

In [24]:
string.count('data')    #it can count single character and word also

1

In [28]:
# WAP to input string and print its length
name = input("Enter your name: ")
print(name)
print('len of the string is: ',len(name))

Enter your name: ganesh
ganesh
len of the string is:  6

In [29]:
# WAP to find occurances of $ in the string
inr = 'one $ has eighty three value in indian currency $$$'
print('the occurances of $ sign in the string is: ',inr.count('$'))

the occurances of $ sign in the string is:  4

### CONDITIONAL STATEMENTS

In [33]:
# IF ELSEIF ELSE
age=21
if age >=21:
    print('you are eligible for voting and licence')

you are eligible for voting and licence

In [34]:
if age >=22:
    print('you are eligble for voting')
else:
    print('you are not eligible for vote')

you are not eligible for vote

In [37]:
light = 'green'
if light == 'yellow':
    print('cant go ahead')
elif light == 'red':
    print('cant go ahead')
elif light == 'green':
    print('you can go ahead')
else:
    print('no light is detected')

you can go ahead

In [41]:
light = input('Which light you have seen: ')
if light == 'yellow':
    print('cant go ahead')
elif light == 'red':
    print('cant go ahead')
elif light == 'green':
    print('you can go ahead')
else:
    print('invalid light is detected')

Which light you have seen: green
you can go ahead

In [45]:
marks = int(input('Enter your marks: '))
if (marks >=90):
    print('A')
elif (marks >=80 and marks <=90):
    print('B')
elif (marks >=70 and marks <=80):
    print('C')
elif (marks >=60 and marks <=70):
    print('D')
else:
    print('You Failed')

Enter your marks: 67
D

Nesting means IF under IF. there are multiple IF statements under IF but they must be logically corrrect.

In [47]:
# WAP to check the number is even or odd entered by the user
num = int(input('Enter num: '))
if num%2 ==0:
    print('number is even')
else:
    print('number is odd')

Enter num: 13
number is odd

In [50]:
# WAP to find out the greatest of the three numbers given by user
num1 = int(input('Enter num1: '))
num2 = int(input('Enter num2: '))
num3 = int(input('Enter num3: '))
if (num1 >num2 and num1>num3):
    greatest = num1
elif (num2>num1 and num2>num3):
    greatest = num2
else:
    greatest = num3
print('greatest number is: ',greatest)

Enter num1: 12
Enter num2: 12
Enter num3: 14
greatest number is:  14

In [53]:
# WAP to check given num is multiple of 7 or not
num= int(input('Enter num: '))
if num%7==0:
    print(num, ' is multiple of 7')
else:
    print(num, ' is not multiple of 7')

Enter num: 23
23  is not multiple of 7

In [ ]:
n1 = int(input('Enter num1: '))
n2 = int(input('Enter num2: '))
n3 = int(input('Enter num3: '))
n4 = int(input('Enter num4: '))
if (n1>n2 and n1>n3 and n1>n4):
    greatest = n1
elif (n2>n1 and n2>n3 and n2>n4):
    greatest = n2
elif (n3>n1 and n3>n2 and n3>n4):
    greatest = n3
elif (n4>n1 and n4>n1 and n1>n4):
    greatest = n4