## While Loop:--

In [1]:
print('Hello Ganesh')
print('Hello Ganesh')
print('Hello Ganesh')
print('Hello Ganesh')
print('Hello Ganesh')

Hello Ganesh
Hello Ganesh
Hello Ganesh
Hello Ganesh
Hello Ganesh

we can print Hello ganesh 5 times like this. its time and space consuming. so loops works here.

In [2]:
i = 1
while i <=10:
    print(i,'-Hello Ganaa')
    i=i+1
print('Last value of count is: ',i)

1 -Hello Ganaa
2 -Hello Ganaa
3 -Hello Ganaa
4 -Hello Ganaa
5 -Hello Ganaa
6 -Hello Ganaa
7 -Hello Ganaa
8 -Hello Ganaa
9 -Hello Ganaa
10 -Hello Ganaa
Last value of count is:  11

In [3]:
for i in range(15):
    print(i,'Hello Ganpaa')

0 Hello Ganpaa
1 Hello Ganpaa
2 Hello Ganpaa
3 Hello Ganpaa
4 Hello Ganpaa
5 Hello Ganpaa
6 Hello Ganpaa
7 Hello Ganpaa
8 Hello Ganpaa
9 Hello Ganpaa
10 Hello Ganpaa
11 Hello Ganpaa
12 Hello Ganpaa
13 Hello Ganpaa
14 Hello Ganpaa

In [4]:
# print numbers from 1 to 10 using while loop
i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [5]:
# print numbers from 1o to 1
i=10
while i>=1:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

In [6]:
# print numbers from 1 to 100
i=1
while i<=100:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [7]:
# print numbers from 100 to 1
i=100
while i>=1:
    print(i)
    i-=1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [8]:
# print the multiplication of n
n=int(input('Enter number: '))
i=1
while i<=10:
    print(f'{n}*{i} = {n*i}')
    i+=1

Enter number: 5
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
5*10 = 50

In [9]:
# print the elements of the following list using loops
lst = [1,4,9,16,25,36,49,64,81,100]
i=0

while i < len(lst):
    print(lst[i])
    i+=1

1
4
9
16
25
36
49
64
81
100

In [10]:
heroes = ['Iron man', 'Thor', 'Hulk', 'Captain America','Superman']
i=0
while i<len(heroes):
    print(heroes[i])
    i+=1

Iron man
Thor
Hulk
Captain America
Superman

In [11]:
# Search for a number x in this tuple using loop
tup = [1,4,9,16,25,36,49,64,81,100]
num = int(input("Enter number to be searched: "))
i=1
while i <len(tup):
    if num == tup[i]:
        print('Element found at: ',i)
    i +=1

Enter number to be searched: 49
Element found at:  6

## Break and Continue

### Break:- 
Used to terminate when encountered. Means loop terminates here.

### Continue:
terminates the loops in the current Iteration and continues execution of the loop with the next iteration.

In [12]:
i=1
while i<=10:
    print(i)
    if i==8:
#         print(i)
        break
    i+=1

1
2
3
4
5
6
7
8

In [13]:
i=1
while i<=10:
#     print(i)
    if i==8:
        i+=1
        continue
    print(i)
    i+=1

1
2
3
4
5
6
7
9
10

In [14]:
# print odd numbers.
i=1
while i <=10:
    if (i%2==0):
        i+=1
        continue
    print(i)
    i+=1

1
3
5
7
9

In [15]:
# print even numbers.
i=1
while i <=10:
    if (i%2!=0):
        i+=1
    print(i)
    i+=1

2
4
6
8
10

## For Loop:- 
for loop is used for sequential traversal.for traversing tuples lists strings etc.

In [16]:
lst = [1,2,3,4,5,6,7,8,9,10]
for i in lst:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [17]:
# for loop with else part:-- (not mandatory)
for i in lst:
    print(i)
else:
    print('Loop Ended')

1
2
3
4
5
6
7
8
9
10
Loop Ended

In [18]:
tup = [1,4,9,16,25,36,49,64,81,100]
for i in tup:
    print(i)

1
4
9
16
25
36
49
64
81
100

In [19]:
num = int(input('Enter Num: '))
tup = (1,4,9,16,25,36,49,64,81,100,36)
idx=0
for i in tup:
    if i == num:
        print('Number Found at idx: ',idx)
    idx+=1

Enter Num: 49
Number Found at idx:  6

## Range Function:--- 
Range function returns a sequence of numbers starting from 0 by default and increments by 1, and stops before specified
number

In [20]:
# range(start,stop,step size)
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [21]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [22]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [23]:
for i in range(1,100,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [24]:
for i in range(2,100,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [25]:
# print numbers from 1 to 100 using for loop..
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [26]:
# print numbers from 100 to 1 using for loop..
for i in range(100,0,-1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [27]:
# print nultiplication table of n..
n = int(input('Enter number: '))
for i in range(1,11):
    print(f'{n}*{i} = {n*i}')

Enter number: 5
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
5*10 = 50

## PASS statement:
Pass means null, its used as placeholder for future code.. means you have to do nothing for now, then you can use PASS..

In [29]:
for i in range(10):
    pass
print('Some Useful work')   # for loop without any code excuted due to pass keyword.

Some Useful work

In [30]:
# we can work IF ELSE also
if i <5:
    pass

In [31]:
# WAP to find sum of first n numbers..
n = int(input("Enter number: "))
total_sum = 0
counter = 1
while counter <=n:
    total_sum+=counter
    counter+=1
print(f'Sum of First {n} number is:{total_sum}')

Enter number: 10
Sum of First 10 number is:55

In [34]:
# WAP to find factorial of first n numbers.
n = int(input("Enter number: "))

def factorial(num):
    fact = 1
    for i in range(1,num+1):
        fact*=i
    return fact

for counter in range(1,n+1):
    print(f'Factorial of {counter} is {factorial(counter)}')

Enter number: 5
Factorial of 1 is 1
Factorial of 2 is 2
Factorial of 3 is 6
Factorial of 4 is 24
Factorial of 5 is 120