## Variable:--

A variable in Python is like a container or label used to store data â€” such as numbers, text, or other objects..  
In python variables are created when we assigns value. It happens automatically.

In [1]:
name= 'Ganesh'
surname = 'Gunjal'
print(f'Name: {name}, Surname: {surname}')

Name: Ganesh, Surname: Gunjal

### Declaing and variables:

In [2]:
weight = 70
height = 5.8
name = 'Ganesh'
print(f'Name: {name}, Weight: {weight}, Height: {height}')

Name: Ganesh, Weight: 70, Height: 5.8

### Naming Conventions:
1. Variable name should be descriptive.
2. it must start with letter or underscore. It can contain letters, numbers, and underscore.
3. variable names are case sensitive.

In [3]:
first_name = 'Ganesh'
last_name = 'Gunjal'
_name = 'Ganaa'

#printing the names:
print(first_name)
print(last_name)
print(_name)

Ganesh
Gunjal
Ganaa

### Invalid Variable name:

In [4]:
2name = 'Ganesh'

SyntaxError: invalid decimal literal (2666542611.py, line 1)

In [5]:
first-name = 'Ganesh'

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (431167621.py, line 1)

### Case Sensitivity:-

In [7]:
name = 'Ganesh'
Name = 'Gunjal'

name==Name

False

### Understanding the Vaiable types:
Python is an dynamically typed. type of the variable is determined at the run time.

In [8]:
age = 33
height = 5.9
name = "Ganesh"
is_student = True

print(type(age))
print(type(height))
print(type(name))
print(type(is_student))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

### Type checking and Conversions:

In [12]:
print(type(height))
print('After Conversion')
print(type(int(height)))

<class 'float'>
After Conversion
<class 'int'>

### Dynamic Typing: 
Python allows the variable to change as the program is executed.

In [14]:
var = 10
print(var, type(var))

var = 'hello'
print(var,type(var))

var = 4.1
print(var,type(var))

10 <class 'int'>
hello <class 'str'>
4.1 <class 'float'>

## Simple Calculator:-

In [16]:
num1 = int(input('Enter number 1: '))
num2 = int(input('Enter number 2: '))

sum = num1 + num2
substraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2

print(f'Sum: {sum}')
print(f'Substraction: {substraction}')
print(f'Multiplcation: {multiplication}')
print(f'Division: {division}')

Enter number 1:  12
Enter number 2:  12

Sum: 24
Substraction: 0
Multiplcation: 144
Division: 1.0