### Map Function:
The map() function applies a function to every item in an iterable (like a list, tuple, etc.).

In [1]:
def square(x):
    return x**2

In [2]:
square(10)

100

This function is useful for only single number. but if we have list of numbers, then this function will not work.   
so for this we need a function which can perform operations on whole list.

In [4]:
numbers = [1,2,3,4,5,6,7,8,9]
squares = list(map(lambda x:x**2,numbers))
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

### squares of list items Using for loop:

In [7]:
numbers1 = [1,2,3,4,5,6,7,8,9]
sq1 = []
def squares1(lst):
    for num in lst:
        sq1.append(num**2)
    print(sq1)

In [8]:
squares(numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
def squares2(num):
    return num**2
numbers1 = [1,2,3,4,5,6,7,8,9]

In [10]:
list(map(squares2,numbers1))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

### Map with multiple Iteables:

In [13]:
numbers1 = [1,2,3,4]
numbers2 = [5,6,7,8]

added_numbes = list(map(lambda x,y:x+y,numbers1,numbers2))
print(f'New Addition list: {added_numbes}')

New Addition list: [6, 8, 10, 12]

### Use map function to convert string numbers into integer numbes:

In [14]:
str_numbers = ['1','2','3','4','5']
int_numbers = list(map(int,str_numbers))
print(int_numbers)

[1, 2, 3, 4, 5]

### Convert whole list in upper case:

In [17]:
words = ['apple','banana','grapes','orange']
upper_words = list(map(str.upper,words))
print(upper_words)

['APPLE', 'BANANA', 'GRAPES', 'ORANGE']

### Get all the names from the dictionary:

In [18]:
def get_name(person):
    return person['name']

people = [
    {'name':'Ganesh','age':33},
    {'name':'Rasika','age':28}
]

list(map(get_name,people))

['Ganesh', 'Rasika']