## Sets

its collection of unordered items. each element in the set is immutable and unique. it ignores duplicate values. <br>
sets are mutable means we can add/remove element but we cant change values once value is added.

In [14]:
collection = {1,1,2,3,5,6,"world",'world'}
print(collection)    #duplicates elements are removed.

{1, 2, 3, 5, 6, 'world'}

In [15]:
print(len(collection))   #there are 8 items in the collection still it is giving 6. because of duplication.

6

In [2]:
set1 = {1,2,3,4,5,6}

In [3]:
print(type(set1))
print(set1)

<class 'set'>
{1, 2, 3, 4, 5, 6}

In [6]:
set2 = {'ganesh','data scientist','stuti','pallavi'}
print(type(set2))
print(set2)

<class 'set'>
{'pallavi', 'data scientist', 'ganesh', 'stuti'}

In [7]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

In [8]:
print(set1)
print(set2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

### Set Methods

In [17]:
# 1 add:-- adding element in the set
s1= {1,2,3,4,4}
s1.add(5)
print(s1)   #removed duplicate entry. ie 4.

{1, 2, 3, 4, 5}

In [18]:
# 2 remove an element.
s1.remove(4)
print(s1)

{1, 2, 3, 5}

In [19]:
# 3 Clear:--- clear all element in the set
s1.clear()
print(s1)

set()

In [21]:
s1 = {1,2,3,4}
s1.pop()   #it will remove any item randomly.

1

In [22]:
s1.pop()    #it will remove any item randomly..

2

In [23]:
print(s1)

{3, 4}

### Operations on Sets

In [9]:
# 1 UNION:--- union of all elements present in both sets. it avoids duplication.
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7, 8}

In [10]:
# 2 INTERSECTION:- means finding common elements in both the sets. it will also remove duplicate values. 
print(set1.intersection(set2))

{4, 5}

In [11]:
# 3 DIFFERENCE: means elements present in one set but not in both.
print(set1.difference(set2))
# here elements will be shown only present in the first set. and not in both or in set2.. and viceversa

{1, 2, 3}

In [12]:
# 4 SYMMETRIC DIFFERENCE:-- the elements present in both but not common. 
print(set1.symmetric_difference(set2))

{1, 2, 3, 6, 7, 8}

## Practice Questions

In [30]:
# 1 store the following word meaning in a python dictionary. 
meaning = {
    'Table':['Piece of furniture','List of facts and figures'],
    'Cat':'A small animal'
}

In [27]:
print(meaning)

{'Table': 'Piece of furniture', 'List of facts and figuresCat': 'A small animal'}

In [31]:
print(meaning['Table'])

['Piece of furniture', 'List of facts and figures']

In [32]:
# 2 you are given  a list of subjects.Assume one classroom is required for 1 subject. How many classrooms are needed by all
# student.
classroom = {'python','java','C++','python','javascript','java','python','java','C++','C'}
print(classroom)
print('Classrooms needed: ',len(classroom))    #sets are unique. they removes duplicates.

{'python', 'C', 'C++', 'java', 'javascript'}
Classrooms needed:  5

In [37]:
# 3 WAP to enter marks of 3 subjects from the user and store them into dictionary. Start with an empty dictionary and add
# one by one.Use subject name as a key and marks as a value. 
marks = {}

x = int(input('Enter Phy marks: '))
marks.update({'Phy':x})

y = int(input('Enter Chem marks: '))
marks.update({'Chem':y})

z = int(input('Enter Bio marks: '))
marks.update({'Bio':z})
print(marks)

Enter Phy marks: 93
Enter Chem marks: 91
Enter Bio marks: 96
{'Phy': 93, 'Chem': 91, 'Bio': 96}

In [40]:
# 4 Figure out a way to store 9 and 9.0 as a separate value in the set.
s1={9,'9.0'}

In [41]:
print(s1)

{'9.0', 9}