## Function:-

A function is a block of organized, reusable code that performs a specific task. Functions help break a
program into smaller, modular pieces, making it easier to manage, understand, and debug.

Redundant code: repeated code.. a good programmer never write this type of code.. instead convert this code to function

In [1]:
# Syntax:
def add(a,b):
    return sum

# a and b are parameters. def is function definition.

# add(1,2)    # this is fucntion call.

In [2]:
def add1(a,b):
    add = a+b
    return add

In [3]:
add1(2,2)

4

In [4]:
def print_hello():
    print('Hello Data scientist')

In [5]:
output = print_hello()
print(output)        ## its howing None means this ffunction rerurns nothing.

Hello Data scientist
None

In [6]:
# write a function that calculates average of 4 numbers.
def cal_avg():
    n1 = int(input('Enter num 1: '))
    
    n2 = int(input('Enter num 2: '))    
    n3 = int(input('Enter num 3: '))    
    n4 = int(input('Enter num 4: ')) 
    if n1 == 0:
        break
    avg = (n1+n2+n3+n4)/4
    print(avg)
    return avg


# this code is not working because break is not in loop. you can use return instead of break as below

SyntaxError: 'break' outside loop (2246228042.py, line 9)

In [7]:
avgg = cal_avg()
print(avgg)

NameError: name 'cal_avg' is not defined

In [8]:
def cal_avgg():
    n1 = int(input('Enter num 1: '))
    
    # Check if n1 is 0 to exit the function early
    if n1 == 0:
        print("Exiting because n1 is 0.")
        return  # Exits the function if n1 is 0
    
    n2 = int(input('Enter num 2: '))
    n3 = int(input('Enter num 3: '))
    n4 = int(input('Enter num 4: '))
    
    # Calculate the average
    avg = (n1 + n2 + n3 + n4) / 4
    print(f"The average is: {avg}")
    return avg

In [9]:
cal_avgg()

Enter num 1: 4
Enter num 2: 5
Enter num 3: 6
Enter num 4: 7
The average is: 5.5

5.5

## Built in Functions:-- 
Functions that are already written in python.
example:- print,len,range,type

In [10]:
print('Ganesh','Gunjal')   # seperator is already define in print functiion. " " is given therea automatically.

Ganesh Gunjal

In [11]:
print("Ganesh",end=" ")    #end has \n default. we gave end = " ", there values are printed on same line with space
print('Gunjal')

Ganesh Gunjal

## User Defined functions:-- 
these functions are created by user/coder for their specific use.

### Default: 
when we dont pass any value, then default parameter gives default value specified over there.

In [12]:
# Default parameter. 
def cal_prod(a=2,b=4):
    print(a*b)
    return a*b

In [13]:
cal_prod()    #we dont provide any value still its giving output due to default values.

8

8

In [14]:
def cal_prod(a,b=4):
    print(a*b)
    return a*b

In [15]:
cal_prod(5)   #value of b is taken automatically.

20

20

In [16]:
# WAF that prints length of the list.. 
lst = [1,2,3,4,5,6,6,7,8,9,10,'data scientist']
def listlen(lst):
    length = len(lst)
    print('Length of the list is: ',length)

In [17]:
listlen(lst)

Length of the list is:  12

In [18]:
# WAF to print elements of the list in a single line.. 
def print_element(lst):
    for i in lst:
        print(i,end=" ")

In [19]:
print_element(lst)

1 2 3 4 5 6 6 7 8 9 10 data scientist

In [20]:
# WAF to calculate factorial of a number..
def factorial(n):
    if n <=1:
        return 1
    else:
        return n *factorial(n-1)

In [21]:
factorial(5)

120

In [24]:
# WAF to convert USD to INR.
def usd_to_inr():
    amount_in_usd = int(input('Enter amount in usd: '))
    amount_in_inr = amount_in_usd*83
    print(f'{amount_in_usd} doller = {amount_in_inr} rupees')

In [25]:
usd_to_inr()

Enter amount in usd: 1
1 doller = 83 rupees

In [26]:
# WAF to print the number either even or odd..
def even_odd():
    num=int(input('Enter number: '))
    if num %2==0:
        print(num,' is even..')
    else:
        print(num,' is odd')

In [27]:
even_odd()

Enter number: 55
55  is odd

In [28]:
even_odd()

Enter number: 66
66  is even..

## Recursion:--
When function calls itself then its recursion. <br>
all the code done with loops, can be done using recursion also. and vice versa. 
Recursion comes with boundry condition. as shown in below.
recursion works with call stack as shradha shown.(time 46, function and recursion video) 
base case is so much needed. else code will go in infinite loop and whole memory will be occupied. and code will crash.

In [29]:
def show(n):
    if (n==0):    #base case
        return 
    print(n)
    show(n-1)

In [30]:
show(100)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [31]:
def show1(n):
    if (n==-1):    #base case
        return
    print(n)
    show1(n-1)

In [32]:
show1(10)

10
9
8
7
6
5
4
3
2
1
0

In [33]:
# Recursion thr factorial..
def fact(n):
    
    if (n==0) or (n==1):
        return 1
    else:
        return n*fact(n-1)
n=int(input('Enter num: '))
print(f'Factorial of {n} is {fact(n)}')
    
# print(n)

Enter num: 5
Factorial of 5 is 120

In [34]:
fact(5)

120

In [35]:
# Write a recursive function  to calculate the sum of first n naturl numbers..
def sum_natural_number(n):
    if (n==0):
        return 0
    else:
        return n+sum_natural_number(n-1)

n = int(input('Enter num: '))
summ = sum_natural_number(n)
print(f'Sum of {n} is {sum_natural_number(n)}')

Enter num: 10
Sum of 10 is 55

In [43]:
# Write a recursive function to print all elements of the list.
def print_list(list,idx=0):
    if (idx==len(list)):
        return
    print(list[idx])
    print_list(list,idx+1)
lst = ['banana','lichi','mango','apple']
print_list(lst)

banana
lichi
mango
apple